@using kudapoyti.Service.ViewModels
@model List<PlaceViewModel>
<div>
    <div class="text-center mb-50 mt-50">
        <h2 class="text-primary text-uppercase">Recommended</h2>
    </div>
    <div class="row g-5">
        @{
            foreach (var place in Model)
            {
                <div class="col-lg-4 h-300">
                    <div class="mt-5 md-5 me-5">
                        <a asp-controller="places" asp-action="get" asp-route-placeId="@place.Id">
                            <div class="destination-item position-relative overflow-hidden mb-2 ">

                                <img class="img-fluid" src="~/@place.ImageUrl">

                                <div class="destination-overlay text-white text-decoration-none text-center" href="">
                                    <h4 class="text-white">@place.Title</h4>
                                    <span>@place.Region</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }
        }
    </div>
   @* <div class="text-center mb-5 mt-5">
        <h2 class="text-primary text-uppercase">TOP</h2>
    </div>
    <div class="row g-5">
        @{
            foreach (var place in Model.Item2)
            {
                if (place.PlaceSiteUrl == "Park")
                {
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="package-item bg-white mb-2">
                            <a asp-controller="places" asp-action="get" asp-route-placeId="@place.Id">
                                <img class="img-fluid" src="@place.ImageUrl" alt="">
                                <div class="p-4">
                                    <div class="d-flex justify-content-between mb-3">
                                        <small class="m-0"><i class="fa fa-map-marker-alt text-primary mr-2"></i>@place.Region</small>
                                        <small class="m-0"><i class="fa fa-list-alt text-primary mr-2"></i>@place.PlaceSiteUrl</small>
                                    </div>
                                    <a class="h5 text-decoration-none" href="">@place.Title</a>
                                    <div class="border-top mt-4 pt-4">
                                        <div class="d-flex justify-content-between">
                                            <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>@place.rank <small>(@place.rankedUsersCount)</small></h6>
                                            <h7 class="m-0">@place.CreatedAt</h7>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                }
            }
        }

    </div>
    *@
</div>
